{% extends 'Base/base.html' %}
 

{% block content %}

    
        {% if user.is_superuser %}
        <h1 style="text-align: center;">RNJ Hot Bites</h1><br>
        <h2 style="text-align: center;">Factory Stock Management</h2>        
        <br><br><br><br><br>
        <h4 style="text-align: center;"> Hi {{ user.username }} you are super user</h4>

        

        {% elif user.is_authenticated %}
        <h1 style="text-align: center;">RNJ Hot Bites</h1><br>
        <h2 style="text-align: center;">Factory Stock Management</h2>        
        <br><br><br><br><br>
        <h4 style="text-align: center;"> Hi {{ user.username }}</h4>

        
        {% else %}
        <h1 style="text-align: center;">RNJ Hot Bites</h1><br>
        <h2 style="text-align: center;">Factory Stock Management</h2>        
        <br><br><br><br><br>
        <h4 style="text-align: center;">You are not logged in</h4>
       
        {% endif %}

{% endblock %} 
    
        






